@font-face {
  src: url(./assets/fonts/Nunito-Regular.ttf);
  font-family: 'Nun';
}


html,body{
    margin: auto;
    background: linear-gradient(150deg,#40e0d0,#98fb98);
    font-family: 'Nun';
    scroll-behavior: smooth;
}

header{
    width: 100%;
}

header .nav-link{
	text-decoration: none;
	display:flex;
	align-items: center;
	justify-content: center;
	margin-left: 2vw;
	min-width: 8vw;
	padding: 0.5vw;
	border-radius: 3vw;
	letter-spacing: 0.2vw;
}

/* scroll */

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4B4B4B;
}



/*classes */

.blue-shadow{
    border-radius: 10% 0 10% 0;
    background: #30336b;
    background: #1B9CFC;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: #EEF4F7;
}

.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
   background: white;
}

.heading{
    padding:  2vw;
    padding-top: 10vh;
}

.top-box{
    margin-top: 8%;
}

.box{
    margin-bottom: 10vh;
    margin-top: 20vh;
}

.para{
    padding: 2.5vw;
}

.bcg-circle{
    position: relative;
    border-radius: 50%;
    width: 25vw;
    height: 100%;
    left: 2vw;
    padding-top: 25vw;
    background: #D7EFFE;
    margin-top: 8%;
    margin-bottom: 10%;
    z-index: 2;
}

.main-text{
    /* position: absolute; */
    font-size: calc(100% + 8.5vw );
    padding: 0.5vw;
    padding-left: 10vw;
    margin-left: 3vw;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

.main-text-box{
    z-index: 0;
    color: #4b4b4b;
    animation: change-color 2.5s ease;
    transition: all .5s ease;
}

.phone{
    width: 80%;
    padding: 2.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo{
	
	width: 6vw;
}

.abt-logo{
    padding-top: 15vh;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
	transition-property: transform;
	
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.home-page-circle-3 {
	position: absolute;
	overflow: hidden;
	width: 300vw;
	height: 200vh;
	bottom: -24.5vh;
	right: 0;
	z-index: 2;
	clip-path: circle(0% at bottom right);
    background-color: #30336b;
    transition: clip-path .5s ease;
	animation: circle-close 2.5s ease ;
}

a.middle{
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}


/* ids*/

#navbtn{
    font-size: calc(100% + 0.2vw + 0.1vh);
    color: black;
}

#map{
  width: 50vw;
  height: 57vh;
  margin-left: -20%;
}

/*keyframes*/

@keyframes circle-close {
	0% {
		clip-path:  circle(100% at bottom right);
	}
	25%{
		clip-path:  circle(75% at bottom right);
		
	}
	50%{
		clip-path:  circle(50% at bottom right);
		
	}
	100%{
		clip-path: circle(0% at bottom right);
	}
}

@keyframes change-color {
	0%{
        color: white;
        z-index: 3;
    }
    25%{
        color: salmon;
        z-index: 3;
	}
	50%{
        color: salmon;
        z-index: 3;
    }
    75%{
        color: #3DDC84;
        z-index: 3;
    }
	100%{
        color: #4b4b4b;
        z-index: 3;
        
	}
}

